@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-[#394e6a] overflow-x-hidden;
}

.main-table > thead > tr {
  @apply uppercase;
}
.main-table .t-body-rows {
  @apply text-center;
}
.main-table .t-body-rows span {
  @apply w-full;
}

.main-table .t-body-rows span:first-child {
  @apply text-left font-bold;
}

.head-td {
  @apply whitespace-nowrap p-4 bg-[#f2f7ff] font-bold uppercase;
}
.head-td:first-child {
  border-top-left-radius: 10px;
}
.head-td:last-child {
  border-top-right-radius: 10px;
}

.skeleton-tbody-tr td {
  @apply p-4 text-center;
}
.skeleton-table .skeleton-tbody-tr > td > span {
  @apply w-full h-[25px] m-auto block rounded-[15px];
  background-color: rgba(128, 128, 128, 0.6);
  animation: skeleton 2s ease-in infinite;
}

@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.showMore {
  @apply self-center bg-gray-300 w-full md:w-64 md:px-6 my-12 py-2 rounded transition-all disabled:bg-gray-600 disabled:text-white;
}
.showMore:not(:disabled):hover {
  @apply hover:bg-gray-400;
}

.my-tooltip > .tooltip-inner {
  max-width: 400px;
  text-align: left;
}
